<% if line_item.eql?(@updated_item) %>
<tr class="changed-item-highlight">
<% else %>
<tr>
<% end %>
  <td class="quantity"><%= line_item.quantity %> </td>
  <td><%= line_item.product.title %></td>
  <td class="price"><%= number_to_currency(line_item.total_price) %></td>
  <td><%= button_to 'Remove Item',
                     line_item,
                     method: :delete,
                     data: {confirm: 'Are you sure?'},
                     remote: true
                   %>
  </td>
</tr>
